#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_7 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_7 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_16 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_16 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich-text-25 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_25 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_25 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Spacer {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_17 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_17 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_8 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_8 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Bg_top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43);
  filter: alpha(opacity=43);
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Home_Indicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-43579c06-bd34-4242-9767-af0e46b792f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}