#s-45420977-ccb0-44c3-8609-8033d81b7649 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Playlist {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 {
  position: absolute;
  width: 375px;
  height: 812px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 > .paddingLayer {
  height: 812px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Library {
  position: absolute;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Panel_7 {
  width: 375px;
  height: 577px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Panel_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Panel_7 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 577px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Recently-played_2 {
  position: absolute;
  width: 375px;
  height: 715px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 {
  position: absolute;
  width: 375px;
  height: 223px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 > .paddingLayer {
  height: 223px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_80 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_80 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_80 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_82 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_82 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_82 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_83 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_83 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_83 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_81 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_81 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_81 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_6 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_6 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_6 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_6 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_84 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_84 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_84 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_4 marker {
  fill: #A9A9A9;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_4 {
  width: 314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_85 {
  position: absolute;
  width: 82px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_85 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_85 > svg {
  height: 55px;
  width: 78px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_5 marker {
  fill: #A9A9A9;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_5 {
  width: 314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EEEEF0));
  background-image: -o-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 {
  position: absolute;
  width: 375px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 > .paddingLayer {
  height: 15px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_1 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_1 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_1 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_1 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_2 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_2 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_2 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_2 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_3 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_3 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_3 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_3 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_1 {
  width: 314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_2 {
  width: 314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_3 marker {
  fill: #A9A9A9;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_3 {
  width: 314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F6F7;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 {
  position: absolute;
  width: 375px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 > .paddingLayer {
  height: 95px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 span#rtr-s-Label_23_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 {
  position: absolute;
  width: 375px;
  height: 141px;
  opacity: 0.43;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 > .paddingLayer {
  height: 140px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 {
  position: absolute;
  width: 165px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 > .paddingLayer {
  height: 48px;
  width: 165px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 > .clipping, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 span#rtr-s-Label_24_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 > .shapert-clipping {
  width: 213px;
  height: 104px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 .shapert-clipping {
  left: 3px;
  top: 0px;
  width: 210px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 .content {
  text-shadow: none;
  width: 210px;
  height: 92px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 {
  position: absolute;
  width: 213px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Callout_1 {
  width: 210px;
  height: 104px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 0px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_1 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_33 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_33 {
  position: absolute;
  width: 52px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_33 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_33 > svg {
  height: 50px;
  width: 52px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_26 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_26 {
  position: absolute;
  width: 40px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_26 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_26 > svg {
  height: 12px;
  width: 40px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_13 > svg {
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_13 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_13 > img, #s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_13 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}