#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_5 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_5 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43);
  filter: alpha(opacity=43);
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}