#s-a69efcd7-35ca-474d-ae75-8da5674944d3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Playlist {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 {
  position: absolute;
  width: 375px;
  height: 812px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 > .paddingLayer {
  height: 812px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Library {
  position: absolute;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Panel_7 {
  width: 375px;
  height: 577px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Panel_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Panel_7 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 577px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Recently-played_2 {
  position: absolute;
  width: 375px;
  height: 714px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 {
  position: absolute;
  width: 375px;
  height: 510px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 > .paddingLayer {
  height: 510px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 {
  position: absolute;
  width: 123px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 > .paddingLayer {
  height: 22px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 span#rtr-s-Label_100_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 {
  position: absolute;
  width: 123px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 > .paddingLayer {
  height: 22px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 span#rtr-s-Label_101_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_78 {
  position: absolute;
  width: 159px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_78 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_78 > svg {
  height: 155px;
  width: 155px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_79 {
  position: absolute;
  width: 159px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_79 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_79 > svg {
  height: 155px;
  width: 155px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_81 {
  position: absolute;
  width: 159px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_81 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_81 > svg {
  height: 155px;
  width: 155px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 {
  position: absolute;
  width: 123px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 > .paddingLayer {
  height: 22px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 span#rtr-s-Label_103_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 {
  position: absolute;
  width: 224px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 > .paddingLayer {
  height: 48px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 {
  position: absolute;
  width: 123px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 > .paddingLayer {
  height: 22px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 span#rtr-s-Label_102_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_80 {
  position: absolute;
  width: 291px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_80 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_80 > svg {
  height: 155px;
  width: 287px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_82 {
  position: absolute;
  width: 159px;
  height: 159px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_82 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_82 > svg {
  height: 155px;
  width: 155px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 {
  position: absolute;
  width: 123px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 > .paddingLayer {
  height: 22px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 span#rtr-s-Label_104_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 {
  position: absolute;
  width: 168px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 > .paddingLayer {
  height: 22px;
  width: 168px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 span#rtr-s-Label_105_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EEEEF0));
  background-image: -o-linear-gradient(top,#FFFFFF,#EEEEF0);
  background-image: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 {
  position: absolute;
  width: 375px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 > .paddingLayer {
  height: 15px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F6F7;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 {
  position: absolute;
  width: 375px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 > .paddingLayer {
  height: 95px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 span {
  color: #F92C52;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 span#rtr-s-Label_22_0 {
  color: #F92C52;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 span#rtr-s-Label_23_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 {
  position: absolute;
  width: 375px;
  height: 141px;
  opacity: 0.43;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 > .paddingLayer {
  height: 140px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 {
  position: absolute;
  width: 165px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 > .paddingLayer {
  height: 48px;
  width: 165px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F6F7;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 {
  position: absolute;
  width: 375px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 > .paddingLayer {
  height: 95px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 span#rtr-s-Label_24_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 {
  position: absolute;
  width: 59px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 > .clipping, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 > .paddingLayer {
  height: 14px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 span {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 span#rtr-s-Label_25_0 {
  color: #4A86E8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 > svg {
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 {
  position: absolute;
  width: 40px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 > img, #s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 > svg {
  height: 12px;
  width: 40px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}