#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43);
  filter: alpha(opacity=43);
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}