#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43) ;
  filter: alpha(opacity=43) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Home_Indicator_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a69efcd7-35ca-474d-ae75-8da5674944d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}